@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,500;0,700;1,900&display=swap');
@import url('https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.0.1/css/bootstrap.min.css');

* { 
  box-sizing: border-box;  
  font-style: normal;  
  font-family: 'Playfair Display', serif;
}

#index {
  background-image: url("background_gradient.jpg"), linear-gradient(rgb(255, 255, 255), #ffffff); 
  background-attachment: fixed !important;
  background-size: 110% !important;
  background-position: center top !important;
  
  body {
    text-align: center;
    /*background: linear-gradient(rgba(0, 0, 0, 0), rgba(255, 255, 255, 0)), url(background_gradient.jpg);    background-repeat: no-repeat;*/
    padding: 1rem;
    padding-top: 10%;
    color: rgb(255, 255, 255); 
  }

  p {
    font-size: 1.3rem;
    line-height: 1.6;
    margin-left: 8rem;
    margin-right: 8rem;
    color: rgb(0, 0, 0);
  }
 
  h3 {
    font-size: 2.5rem;
    margin-bottom: 40px;
    color: rgb(255, 255, 255); 
  }

  h1 {
    color: #e8e295;
    font-size: 15rem;   
    font-style: italic;
    text-shadow: 0 0 5px rgba(0, 0, 0, 1);
    line-height: 1.5;
    /*position: absolute;*/
    top: 1px;
    font-weight: 100;
    margin-top: 6rem;
  }

  h2 {
    margin-top: -30px;
    margin-bottom: 60px;
    color: rgb(255, 255, 255); 
  }

  .buttonLink {
    /*margin: 0px 0px 50px 0px;*/
    background-color: #e09476;
    color: white;
    padding: 25px 35px;
    text-decoration: none;
    border-radius: 5rem;
  }

  .buttonLink:hover {
    color: rgb(232, 226, 149);
    box-shadow: 0 0 5px rgba(0, 0, 0, 1);
    text-decoration: none;
  }

  #bubble {
    .col {
      /*background-color: #e09476;
      color: white;
      padding: 50px 0px 50px;
      border-radius: 500px;
      margin-left: -5rem;
      margin-right: 5rem;*/
      width: 30%;
      height: 100%;
      margin: 20px;
      padding: 2rem 2rem 5rem;
      border-radius: 100%;
      background: #e09476;
      display: inline-block;
    }

    p {
      text-align: center;
      margin: 0rem;
      width: 300px;
    }
  } 
   
  #footer {
    h6 {
      font-size: 2rem;
    }

    p {
      font-size: 1.5rem;
      width: 300px;
    }
  }
}

#tracker {
  background-color: antiquewhite;
  background-image: none;

  body {
    text-align: center;
    /*background: linear-gradient(rgba(0, 0, 0, 0), rgba(255, 255, 255, 0)), url(background_gradient.jpg);    background-repeat: no-repeat;*/
    padding: 1rem;
    padding-top: 10%;
    color: rgb(255, 255, 255); 
  }
  
  h3 {
    margin-left: 0;
    padding-left: 0;
    border-left: 0;
    font-family: 'Playfair Display', serif;
    font-size: 5rem;
    margin-bottom: 40px;
    color: rgb(232, 226, 149); 
    font-style: italic;
    text-shadow: 0 0 5px rgba(0, 0, 0, 1);
    float: left;
  }

  .buttonLink {
    background-color: #e09476;
    color: white;
    padding: 25px 35px;
    text-decoration: none;
    border-radius: 5rem;
    margin-left: 35rem;
  }

  .buttonLink:hover {
    color: rgb(232, 226, 149);
    box-shadow: 0 0 5px rgba(0, 0, 0, 1);
    text-decoration: none;
  }

  .progress {
    height: 7rem;
    width: 70%;
    justify-content: center;
    margin: auto;
    border: 5px solid white;

    .progress-bar-good {
      background-color: rgb(38, 142, 38);
    }

    .progress-bar-bad {
      background-color: #c01f1f;
    }
  }

  .input-group {
    width: 30%;
  }

  button {
    display: flex;
    justify-content: center;
    margin: auto;
    margin-top: 1rem;
  }

  table {
    border-radius: 20px;
    text-align: left;
    margin-bottom: 20px;
    background-color: #ffffff;
    width: 90%;
    height: 100%;
    margin: auto;
    justify-content: center;

  }

  p {
    font-size: 1.3rem;
    line-height: 1.6;
    margin-left: 8rem;
    margin-right: 8rem;
    color: rgb(0, 0, 0);
  }

  #footer {
    h6 {
      font-size: 2rem;
    }

    p {
      font-size: 1.5rem;
      width: 300px;
    }
  }

  
}
